/* Reset some defaults */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: auto auto auto; /* Header (auto), Main content (1fr), Footer (auto) */
  min-height: 100vh;
}

footer {
  padding: 30px 0;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}

footer a {
  color: #ffffff !important;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

footer a:hover {
  opacity: 0.8;
}
